<footer>
    <nav>
      <ul>
        <li>
          <a href="/">
            <i class="fa fa-list"></i>
            <h5>Top 10</h5>
          </a>
        </li>
        <li>
            <a href="/most-viewed">
              <i class="fa fa-users"></i>
              <h5>Most Viewed Actors</h5>
            </a>
          </li>
      </ul>
    </nav>
  </footer>
  </div>