<!DOCTYPE html>
<html>
<head>
    <title>Rotten Tomatoes Ratings</title>
    <link rel='stylesheet' type="text/css" href='style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="app-container"/>
      <!-- A fixed header, using flexbox -->
      <header>
        <!-- <a href="/"> -->
          <h1>Rotten Tomatoes Ratings</h1>
        <!-- </a> -->
        <img src= "http://images2.onionstatic.com/clickhole/5065/2/16x9/800.jpg" id=circle/>
      </header>
  </body>
 </html>