<%- include  header.ejs %>
<ul>
    <li>
    <h2>Black Mirror</h2>
    <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BNTEwYzNiMGUtNzRlYS00MTMzLTliNzgtOGUxZGZiNThlNWYwXkEyXkFqcGdeQXVyMjYwNDA2MDE@._V1_UX182_CR0,0,182,268_AL_.jpg"/>
    </li>
    <li>
        <h2>Vikings</h2>
        <img src = "http://img.sharetv.com/shows/standard/vikings.jpg"/>
    </li>
</ul>

<%- include  footer.ejs %>